<div class="chat-window-content">
  <div class="chat-window-messages">
    {{#each messages as |args|}}
      <div class="chat-window-message">
        <span class="chat-window-message-user">{{args.header}}</span>
        <div class="chat-window-message-text">{{{args.message}}}</div>
        {{!-- {{log "args.userinfo" args.userinfo}} --}}
      </div>
    {{/each}}
    {{!-- on init of new message: document.querySelector('#message-sound').play(); --}}
    {{!-- {{skype-clone/sound}} --}}

    {{!-- <p id="who-is-typing"></p> --}}
  </div>

  <div class="chat-window-users-container">
    <div class="chat-window-users-container-header">
      <div class="chat-window-roomname">
        {{roomname}}
      </div>

      <div class="chat-window-users-container-header-icons">
        <div class="chat-window-display-user-screens-and-videos-icon">
          <i class="ii ii-people" {{action "selectUsersList"}}></i>
          <span class="chat-window-users-count">
            {{numberOfUsers}}
          </span>
        </div>

        <div class="chat-window-settings-icon">
          <i class="ii ii-settings" {{action "toggleDisplaySettings"}}></i>
        </div>
      </div>

    </div>

    <div class="chat-window-users-list"></div>
  </div>
</div>

<div class="chat-window-input">
  {{textarea
      value=newMessageValue
      classNames="chat-window-input-textarea"
      placeholder="Send a message"
      keyUp=(action "sendMessage")
      keyDown=(action "scrollMessages")}}

  <div class="chat-window-input-controls">
    <i class="ii ii-webcam" {{action "toggleWebcam"}} disabled={{isWebcamDisabled}} title="Enable your webcam"></i>
    <i class="ii ii-microphone" {{action "toggleMic"}} disabled={{isMicDisabled}} title="Enable your microphone"></i>
    <i class="ii ii-monitor-multiple" {{action "toggleScreenSharing"}} disabled={{isScreenSharingDisabled}} title="Enable your screen"></i>
    <i class="ii ii-file-send" {{action "toggleFileSharing"}} disabled={{isFileSharingDisabled}} title="Select and share your files"></i>

    <div class="chat-window-input-send">
      <button class="chat-window-input-send-button">Send</button>
    </div>
  </div>
</div>

{{#if isDisplayingSettings}}
  {{#forms/modal-overlay
      close = "closeSettingsPanel"}}
    {{skype-clone/settings
      rtcMultiConnection = rtcMultiConnection}}
  {{/forms/modal-overlay}}
{{/if}}
