<span class="ps-device-selection-header">Device Selection</span>

{{#if webrtc.canListDevices}}
  {{#if (and webrtc.cameraList.length video)}}
    <div class="ps-device-selection-item">
      <span class="ps-device-selection-label">{{t "webrtcDevices.videoSource"}}</span>

      {{#if webrtc.hasCamera}}
      {{log "selectedCamera" selectedCamera "selectedCamera.deviceId" selectedCamera.deviceId}}
        {{forms/menu-selector
          selectedValue = selectedCamera
          valueField = "deviceId"
          options = webrtc.cameraList
          changed = "changeCamera"}}
      {{else}}
        <span class="ps-device-selection-label">{{t "webrtcDevices.noCameraDetected"}}</span>
      {{/if}}

      {{!-- {{#if advancedOptions}}
        {{forms/menu-selector
            selectedValue = selectedFilter
            options = advancedOptions
            changed = "changeFilter"}}
      {{/if}} --}}
    </div>
  {{/if}}

  {{!-- {{#if (and webrtc.microphoneList.length audio)}}
    <div class="ps-device-selection-item">
      <span class="ps-device-selection-label">{{t "webrtcDevices.audioSource"}}</span>

      {{#if webrtc.hasMicrophone}}
        {{forms/menu-selector
            selectedValue = selectedMicrophone
            valueField = "deviceId"
            options = webrtc.microphoneList
            changed = "changeMicrophone"}}
      {{else}}
        <span class="ps-device-selection-label">{{t "webrtcDevices.noMicrophoneDetected"}}</span>
      {{/if}}
    </div>
  {{/if}}

  {{#if showResolutionPicker}}
    <div class="ps-device-selection-item">
      <span class="ps-device-selection-label">{{t "webrtcDevices.resolution"}}</span>

      {{forms/menu-selector
          selectedValue = selectedResolution
          valueField = "presetId"
          options = webrtc.resolutionList
          changed = "changeResolution"}}
    </div>
  {{/if}}
{{else}}
  <span class="ps-device-selection-label">
    {{t "webrtcDevices.browserMediaSettings"}}
  </span>
{{/if}}

{{#if showOutputDevicePicker}}
  <div class="ps-device-selection-item">
    <span class="ps-device-selection-label">{{t "webrtcDevices.audioDestination"}}</span>

    {{#if webrtc.outputDeviceList.length}}
      {{forms/menu-selector
          selectedValue = selectedOutputDevice
          valueField = "deviceId"
          options = webrtc.outputDeviceList
          changed = "changeOutputDevice"}}
    {{else}}
      <span class="ps-device-selection-label">{{t "webrtcDevices.outputDeviceSystemDefault"}}</span>
    {{/if}}
  </div> --}}
{{/if}}

{{#if showTroubleshoot}}
  <button type="button" class="btn btn-link troubleshoot-link" {{action "openTroubleshoot"}}>
    {{t "webrtcDevices.troubleshoot"}}
  </button>
{{/if}}
